body {
  color: bisque;
}

h1 {
  text-align: center;
  
}
p {
  text-align: center;
}
a {
  text-align: center;
  margin: 10px;
  
}
footer {
  text-align: center;
  padding-bottom: 20px;
}
.img-fluid {
  display: block;
border-radius: 5px;
max-width: 50px;
margin-top: 20px;

}
.container {
  background-color: rgb(255, 254, 196);
}